.container {
  width: 100%;
  height: 100vh;
  background: var(--green-light);
  color: var(--black);
  display: flex;
  align-items: center;

  .content {
    margin-left: 42%;

    img {
      height: 280px;
    }

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      padding: 12px;
      width: 100%;

      .icon {
        margin-right: 10px;
      }
    }

    .footer {
      display: flex;
      margin-top: 2rem;

      span {
        max-width: 220px;
        margin-left: 4rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}
