* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --title: #2e384d;
  --white:#fff;
  --blue: #5965E0;
  --gray-line: #dcdde0;
  --green: #4cd62b;
}

body {
  font: 400 1rem Inter, sans-serif;
}
